name: Deploy Strapi to EC2

on:
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Deploy
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ----------------------------
      # AWS AUTH
      # ----------------------------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Verify AWS identity
        run: aws sts get-caller-identity

      # ----------------------------
      # TERRAFORM SETUP
      # ----------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # ----------------------------
      # TERRAFORM INIT
      # ----------------------------
      - name: Terraform Init
        run: terraform init

      # ----------------------------
      # TERRAFORM PLAN
      # ----------------------------
      - name: Terraform Plan
        run: |
          terraform plan \
            -var="aws_region=us-east-1" \
            -var="docker_image=tarunpinninti369/strapi:latest" \
            -var="key_name=strapi-key"

      # ----------------------------
      # TERRAFORM APPLY
      # ----------------------------
      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="aws_region=us-east-1" \
            -var="docker_image=tarunpinninti369/strapi:latest" \
            -var="key_name=strapi-key"
